<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <div class="jumbotron header">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h1>Tournament Generator</h1>
      <h2>Create your own tournament now!</h2>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <a href="./create"><button class="fancyButton">Create</button></a>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <input class="fancySearch" #search placeholder="Search..." />
      </div>
      <div class="col-sm-4"></div>
    </div>
</div>
</div>